#list-container {
	width: 500px;
	height: 750px;
	background-color: rgba(178, 199, 218, 1);
	border-radius: 12px;
	padding: 15px;
}

#list-title-wrap {
	display: flex;
	justify-content: center;
	margin-top: 12px;
	border-radius: 12px;
	background-color: white;
	padding: 20px;
}

#list-title {
	font-weight: bold;
	font-size: 24px;
	color: black;
}

#create-btn-wrap {
	margin: 10px 0 10px 0;
	display: flex;
}

#create-chat-room-btn, #modal-create-chat-room-btn {
	padding: 8px 12px;
	border: 0px;
	border-radius: 8px;
	box-shadow: none;
	color: white;
	font-size: 16px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	margin-left: auto;
	background-color: rgb(7, 180, 60);
	cursor: pointer;
}

#close-modal {
	padding: 8px 12px;
	border: 0px;
	border-radius: 8px;
	box-shadow: none;
	color: white;
	font-size: 16px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	margin-left: 5px;
	background-color: red;
	cursor: pointer;
}

#room-list-container {
	background-color: white;
	border-radius: 12px;
}

#room-list-container ul {
	border-radius: 12px;
	margin: 0px;
	padding: 12px;
	max-height: 570px;
	min-height: 570px;
	overflow-y: auto;
}

#room-list-container ul li {
	background-color: rgb(245, 245, 245);
	border: 1px solid silver;
	display: flex;
	list-style: none;
	align-items: center;
	padding: 12px;
	border-radius: 8px;
	margin: 8px 0px 8px 0px;
	height: 50px;
	list-style: none;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.room-number-wrap {
	flex: 0 0 auto;
}

.room-name-wrap {
	flex: 1 1 auto;
}

.enter-icon-wrap {
	flex: 0 0 auto;
}

.room-number-wrap {
	width: 40px;
	height: 40px;
	background-color: lightgrey;
	margin-right: 14px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-arrow-right-to-bracket {
	margin-right: 12px;
	color: rgb(140, 140, 140);
	font-size: 24px;
}

#modal-chat-room-name {
	padding: 10px;
	border-radius: 8px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	max-width: 310px;
	max-height: 100px;
	background-color: #fefefe;
	margin: 30% auto;
	padding: 20px;
	border: 1px solid #888;
	display: flex;
	align-items: center;
	border-radius: 8px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	cursor: pointer;
}

#empty-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.empty-list-notice {
	color: rgb(100, 100, 100);
}